# Terraform files
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
.terraformrc
terraform.rc
.terraform.lock.hcl

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/

# Application specific
data/*
certs/*
config/*
ollama/*
!data/.gitkeep
!/certs/.gitkeep
!config/.gitkeep
!/ollama/.gitkeep

# Logs
*.log
